#whiteSquare
{
  padding: 10px;
  background-color:#FFFFF0;
  border: solid 1px #c3c3c3;
}
#whiteSquare
{
  padding: 10px;
  background-color:#303030;/*maybe could use 383838*/
  border: solid 1px #c3c3c3;
}